body{
  background-color: #bc9c23;
  color:#3e0761;
  font-family: sans-serif;
}

.container {
  max-width: 960px;
  background-color: #bc9c23;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgb(188, 156, 35);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #8e8e8e;
  transition: color .15s ease-in-out;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

.row div:nth-child(even){
  background-color: #db713d;
}
.row div:nth-child(odd){
  background-color: #db713d;
}




/*
 * Extra utilities
 */

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}
